# This is a basic workflow to help you get started with Actions

name: Release

# Controls when the workflow will run
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Install dependencies
        run: sudo apt update; sudo apt install zip npm

      - name: Compile
        run: npm install; npm run build

      - name: Create archive
        run: zip -q -r els-tweaks.ccmod assets dist js ccmod.json package.json 

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: Create release
        run: |
          gh release create ${{ steps.get_version.outputs.VERSION }} -d -t "EL's Tweaks ${{ steps.get_version.outputs.VERSION }}" ${{ env.FILES }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILES: els-tweaks.ccmod
